body {
    font: 16px arial,sans-serif;
    background: #EEE;
}

.main_table {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    background: #FFF;
    padding: 15px;
    margin: 15px;
}

.map_td {
    text-align: center;
}

.map_wrapper {
    padding: 20px;
    text-align: center;
}

.arrow {
    background: #FFDB4C;
    padding: 10px;
}

.task {
    padding: 10px;
}

.button {
    background: -webkit-linear-gradient(top, #ffdf60 0, #FC0 100%);
    box-shadow: 0 1px 0 rgba(0,0,0,.07);
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 2px;
    display: inline-block;
    border: none;
    padding: 5px 15px;
    font: 16px arial,sans-serif;
}

.input {
    display: inline-block;
    left: 1px;
    right: 1px;
    top: 0;
    bottom: 0;
    padding: 5px 10px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
}

#map {
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 8px 30px -5px rgba(0,0,0,.5);
}